global
  chroot  /var/lib/haproxy
  daemon
  group  haproxy
  maxconn  4000
  pidfile  /var/run/haproxy.pid
  user  haproxy

defaults
  log  global
  maxconn  8000
  option  redispatch
  retries  3
  timeout  http-request 10s
  timeout  queue 1m
  timeout  connect 10s
  timeout  client 1m
  timeout  server 1m
  timeout  check 10s
  mode http
  option forwardfor
  option http-server-close
  stats enable
  stats uri /stats
  stats realm Haproxy\ Statistics
  stats auth user:password

listen dashboard_cluster
  bind {{ hostvars['haproxy']['ansible_' + haproxy_interface]['ipv4']['address'] }}:443 ssl crt /etc/ssl/private/server.pem
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  reqadd X-Forwarded-Proto:\ https
  redirect scheme https if !{ ssl_fc }
  server controller1 192.168.57.20:80 check inter 2000 rise 2 fall 5

listen glance_api_cluster
  bind {{ hostvars['haproxy']['ansible_' + haproxy_interface]['ipv4']['address'] }}:9292 ssl crt /etc/ssl/private/server.pem
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  reqadd X-Forwarded-Proto:\ https
  redirect scheme https if !{ ssl_fc }
  server controller1 192.168.57.20:9292 check inter 2000 rise 2 fall 5

listen glance_registry_cluster
  bind {{ hostvars['haproxy']['ansible_' + haproxy_interface]['ipv4']['address'] }}:9191 ssl crt /etc/ssl/private/server.pem
  balance  source
  option  tcpka
  option  tcplog
  reqadd X-Forwarded-Proto:\ https
  redirect scheme https if !{ ssl_fc }
  server controller1 192.168.57.20:9191 check inter 2000 rise 2 fall 5

listen keystone_admin_cluster
  bind {{ hostvars['haproxy']['ansible_' + haproxy_interface]['ipv4']['address'] }}:35357
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  server controller1 192.168.57.20:35357 check inter 2000 rise 2 fall 5

listen keystone_public_internal_cluster
  bind {{ hostvars['haproxy']['ansible_' + haproxy_interface]['ipv4']['address'] }}:5000
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  server controller1 192.168.57.20:5000 check inter 2000 rise 2 fall 5

listen nova_ec2_api_cluster
  bind {{ hostvars['haproxy']['ansible_' + haproxy_interface]['ipv4']['address'] }}:8773
  balance  source
  option  tcpka
  option  tcplog
  server controller1 192.168.57.20:8773 check inter 2000 rise 2 fall 5

listen nova_compute_api_cluster
  bind {{ hostvars['haproxy']['ansible_' + haproxy_interface]['ipv4']['address'] }}:8774
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  server controller1 192.168.57.20:8774 check inter 2000 rise 2 fall 5

listen nova_metadata_api_cluster
  bind {{ hostvars['haproxy']['ansible_' + haproxy_interface]['ipv4']['address'] }}:8775
  balance  source
  option  tcpka
  option  tcplog
  server controller1 192.168.57.20:8775 check inter 2000 rise 2 fall 5

listen cinder_api_cluster
  bind {{ hostvars['haproxy']['ansible_' + haproxy_interface]['ipv4']['address'] }}:8776 ssl crt /etc/ssl/private/server.pem
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  reqadd X-Forwarded-Proto:\ https
  redirect scheme https if !{ ssl_fc }
  server controller1 192.168.57.20:8776 check inter 2000 rise 2 fall 5

listen ceilometer_api_cluster
  bind {{ hostvars['haproxy']['ansible_' + haproxy_interface]['ipv4']['address'] }}:8777 
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  server controller1 192.168.57.20:8774 check inter 2000 rise 2 fall 5


listen neutron_api_cluster
  bind {{ hostvars['haproxy']['ansible_' + haproxy_interface]['ipv4']['address'] }}:9696
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  server controller1 192.168.57.20:9696 check inter 2000 rise 2 fall 5

listen swift_proxy_cluster
  bind {{ hostvars['haproxy']['ansible_' + haproxy_interface]['ipv4']['address'] }}:8080
  balance  source
  option  tcplog
  option  tcpka
  server controller1 192.168.57.20:8080 check inter 2000 rise 2 fall 5