[[local|localrc]]

# =====================
# General Configuration
# =====================

RECLONE={{ devstack_reclone }}
OFFLINE={{ devstack_offline }}

HOST_IP={{ hostvars['devstack']['ansible_' + devstack_interface]['ipv4']['address'] }}
HOST_IP_IFACE={{ devstack_interface }}
SERVICE_HOST=$HOST_IP

# Public Subnet
FLOATING_RANGE=10.10.0.0/24
PUBLIC_NETWORK_GATEWAY=10.10.0.1

# Private Subnet
FIXED_RANGE=10.10.1.0/24
NETWORK_GATEWAY=10.10.1.1

ADMIN_PASSWORD=stack
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
SERVICE_TOKEN=token

DEST={{ devstack_install_dir }}

LOGFILE=$DEST/logs/stack.sh.log
SCREEN_LOGDIR=/opt/stack/logs
LOGDAYS=10
LOG_COLOR=true
VERBOSE=true

# =====================
# Service Configuration
# =====================

{% if enable_neutron is defined and enable_neutron %}
    # -------
    # Neutron
    # -------
    disable_service n-net

    enable_service neutron
    enable_service q-svc
    enable_service q-agt
    enable_service q-dhcp
    enable_service q-l3
    enable_service q-meta
{%  endif %}

{% if enable_heat is defined and enable_heat %}
    # ----
    # Heat
    # ----
    enable_service heat
    enable_service h-api
    enable_service h-api-cfn
    enable_service h-api-cw
    enable_service h-eng
{%  endif %}

{% if enable_tempest is defined and enable_tempest %}
    # -------
    # Tempest
    # -------
    enable_service tempest
{% endif %}

# Bug https://bugs.launchpad.net/neutron/+bug/1112912
LIBVIRT_FIREWALL_DRIVER=nova.virt.firewall.NoopFirewallDriver

{% if repository_overrides is defined %}
    # --------------------
    # Repository Overrides
    # --------------------

    {% for override in repository_overrides %}
        {% if override.name is defined %}
            {% if override.repo is defined %}
                {{ override.name|upper }}_REPO={{ override.repo }}
            {% endif %}
            {% if override.branch is defined %}
                {{ override.name|upper }}_BRANCH={{ override.branch }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
