[[local|localrc]]

# =====================
# General Configuration
# =====================

RECLONE=yes

HOST_IP={{ hostvars['devstack']['ansible_' + common.interface]['ipv4']['address'] }}
HOST_IP_IFACE={{ common.interface }}
SERVICE_HOST=$HOST_IP

FIXED_RANGE=10.0.0.0/24
FLOATING_RANGE=10.0.1.0/24

ADMIN_PASSWORD=stack
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
SERVICE_TOKEN=a682f596-76f3-11e3-b3b2-e716f9080d50

DEST={{ devstack.install_dir }}

LOGFILE=$DEST/logs/stack.sh.log
SCREEN_LOGDIR=/opt/stack/logs
LOGDAYS=1
#LOG_COLOR=False
VERBOSE=True

OS_TENANT_NAME=demo
OS_USERNAME=demo

# =====================
# Service Configuration
# =====================

# -----
# Swift
# -----

# disable_service n-obj

# enable_service s-proxy
# enable_service s-object
# enable_service s-container
# enable_service s-account

# SWIFT_HASH=66a3d6b56c1f479c8b4e70ab5c2000f5
# SWIFT_REPLICAS=1

# -------
# Neutron
# -------

disable_service n-net

enable_service q-svc
enable_service q-agt
enable_service q-dhcp
enable_service q-l3
enable_service q-meta
enable_service q-metering

Q_PLUGIN=openvswitch

OVS_ENABLE_TUNNELING=False

# Bug https://bugs.launchpad.net/neutron/+bug/1112912
LIBVIRT_FIREWALL_DRIVER=nova.virt.firewall.NoopFirewallDriver

# Optional, to enable tempest configuration as part of DevStack
# enable_service tempest
# disable_service n-obj
# disable_service ec2
# APACHE_ENABLED_SERVICES+=keystone,swift

# --------------------
# Repository Overrides
# --------------------
{% for override in repository_overrides %}
    {% if override.name is defined %}
        {% if override.repo is defined %}
            {{ override.name|upper }}_REPO={{ override.repo }}
        {% endif %}
        {% if override.branch is defined %}
            {{ override.name|upper }}_BRANCH={{ override.branch }}
        {% endif %}
    {% endif %}
{% endfor %}
